/* ==UserStyle==
 -- THEME STUFF --
@name           Discord | Fullscreen Inbox
@version        1.0.0
@description    Fullscreen Inbox for Discord
@updateURL     	https://raw.githubusercontent.com/Freeplayg/Discord-fullscreen-inbox/main/userstyle.user.css
@homepageURL    https://github.com/Freeplayg/Discord-fullscreen-inbox
@supportURL     https://github.com/Freeplayg/Discord-fullscreen-inbox/issues

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page)
@preprocessor   stylus

==/UserStyle== */

@-moz-document domain("discord.com") {

/*** FullScreen Inbox ***/
.recentMentionsPopout-3rCiI6, .messagesPopoutWrap-1MQ1bW[aria-label="Unreads"] {
  position: fixed;
  top: 22px;
  left: 312px;
  height: calc(100vh - 22px);
  max-height: calc(100vh - 22px) !important;
  max-width: none !important;
  width: calc(100vw - 312px);
  min-width: 0 !important;
  box-shadow: none;
  border-radius: 0;
  background-color: var(--background-primary);
}
.recentMentionsPopout-3rCiI6 .header-2-Imhb, .messagesPopoutWrap-1MQ1bW[aria-label="Unreads"] .header-2-Imhb {
  height: 48px;
  min-height: 48px;
  padding: 8px 16px;
  background-color: var(--background-primary);
  box-shadow: var(--elevation-low);
  z-index: 11;
}
.recentMentionsPopout-3rCiI6 .header-2-Imhb::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0' y='0' class='icon-22AiRD' aria-hidden='false' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z' fill='%2372767d'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  color: white;
  height: 24px;
  width: 24px;
  align-self: center;
}
.tabBar-1kuXvJ::before {
  content: "Inbox";

  height: 20px;
  align-self: center;
  margin-right: 32px;
  margin-left: 32px;

  font-weight: 600;
  color: var(--header-primary);

  font-size: 16px;
  line-height: 20px;
}
.tabBar-1kuXvJ::after {
  content: "";
  position: absolute;
  left: 91.88px;
  align-self: center;

  width: 1px;
  height: 24px;
  margin: 0 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: var(--background-modifier-accent);
}

.recentMentionsPopout-3rCiI6 .container-3iAQ-0, .recentMentionsPopout-3rCiI6 .scroller-tlc3kG {
  padding: 0 !important;
  padding-right: 0 !important;
}
.channelHeader-3Gd2xq {
  padding: 4px 16px;
  padding-right: 8px;
  height: auto;
  background-color: var(--background-primary);
  border-bottom: thin solid var(--background-modifier-accent);
}
.channelHeader-3Gd2xq .guildIcon-3Co6k-, .channelHeader-3Gd2xq .dmIcon-2eU-bE {
  width: 32px;
  height: 32px;
}
.channelNameSection-3Vm87D {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.channelNameSection-3Vm87D .channelNameHeader-F4hU_R, .channelNameSection-3Vm87D .colorHeaderSecondary-3Sp3Ft {
  width: min-content;
}
.channelNameSection-3Vm87D .colorHeaderSecondary-3Sp3Ft {
  margin-left: 8px;
}
.channelHeader-3Gd2xq .button-1-5Aqk {
  background-color: transparent !important;
}
.messages-3G3erD, .messageContainer-gbhlwo {
  border-radius: 0;
}
.collapseButton-2ZsEjz {
  position: relative;
  order: -1;
}

.container-3u944p {
  height: 100%;
}

	
	
}
